USE [PakkaLocalAds]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdLicenseTypes]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdLicenseTypes]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdLocation]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdLocation]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdUsers]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdUsers]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelRoles]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelRoles]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelLicenseDetails]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelLicenseDetails]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelLicensePricing]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelLicensePricing]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelwinner]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelwinner]
GO
/****** Object:  StoredProcedure [dbo].[ValidateCredentials]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[ValidateCredentials]
GO
/****** Object:  StoredProcedure [dbo].[getanswer1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getanswer1]
GO
/****** Object:  StoredProcedure [dbo].[getchildimage1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getchildimage1]
GO
/****** Object:  StoredProcedure [dbo].[GetChildImagePreview]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetChildImagePreview]
GO
/****** Object:  StoredProcedure [dbo].[GetChildImages]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetChildImages]
GO
/****** Object:  StoredProcedure [dbo].[GetCompanyRoles]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetCompanyRoles]
GO
/****** Object:  StoredProcedure [dbo].[getcontest1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getcontest1]
GO
/****** Object:  StoredProcedure [dbo].[GetDocsList]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetDocsList]
GO
/****** Object:  StoredProcedure [dbo].[getEditHistory]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getEditHistory]
GO
/****** Object:  StoredProcedure [dbo].[getEditHistoryDetails]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getEditHistoryDetails]
GO
/****** Object:  StoredProcedure [dbo].[getfaqs]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getfaqs]
GO
/****** Object:  StoredProcedure [dbo].[getimage1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getimage1]
GO
/****** Object:  StoredProcedure [dbo].[GetLicenceCatergories]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetLicenceCatergories]
GO
/****** Object:  StoredProcedure [dbo].[GetLicenseConfigDetails]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetLicenseConfigDetails]
GO
/****** Object:  StoredProcedure [dbo].[GetLicenseDetails]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetLicenseDetails]
GO
/****** Object:  StoredProcedure [dbo].[GetLicensePricing]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetLicensePricing]
GO
/****** Object:  StoredProcedure [dbo].[GetLicenseTypes]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetLicenseTypes]
GO
/****** Object:  StoredProcedure [dbo].[GetLocationImages]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetLocationImages]
GO
/****** Object:  StoredProcedure [dbo].[GetLocationquestion]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetLocationquestion]
GO
/****** Object:  StoredProcedure [dbo].[getLocations]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getLocations]
GO
/****** Object:  StoredProcedure [dbo].[getlogin1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getlogin1]
GO
/****** Object:  StoredProcedure [dbo].[getpanswer1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getpanswer1]
GO
/****** Object:  StoredProcedure [dbo].[GetParticipant]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetParticipant]
GO
/****** Object:  StoredProcedure [dbo].[GetPPFileContent]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetPPFileContent]
GO
/****** Object:  StoredProcedure [dbo].[getpreview1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getpreview1]
GO
/****** Object:  StoredProcedure [dbo].[getquestion]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getquestion]
GO
/****** Object:  StoredProcedure [dbo].[GetRoles]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetRoles]
GO
/****** Object:  StoredProcedure [dbo].[getroles1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getroles1]
GO
/****** Object:  StoredProcedure [dbo].[gettype1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[gettype1]
GO
/****** Object:  StoredProcedure [dbo].[gettypegroup1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[gettypegroup1]
GO
/****** Object:  StoredProcedure [dbo].[GetTypeGroups]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetTypeGroups]
GO
/****** Object:  StoredProcedure [dbo].[GetTypesByGroupId]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetTypesByGroupId]
GO
/****** Object:  StoredProcedure [dbo].[getuser1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getuser1]
GO
/****** Object:  StoredProcedure [dbo].[GetUserRoles]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetUserRoles]
GO
/****** Object:  StoredProcedure [dbo].[getuserroles1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getuserroles1]
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[GetUsers]
GO
/****** Object:  StoredProcedure [dbo].[getvendors]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[getvendors]
GO
/****** Object:  StoredProcedure [dbo].[Getwinners]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[Getwinners]
GO
/****** Object:  StoredProcedure [dbo].[InsEditHistory]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsEditHistory]
GO
/****** Object:  StoredProcedure [dbo].[InsEditHistoryDetails]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsEditHistoryDetails]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelChildImages]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelChildImages]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelcontest1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelcontest1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelDocs]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelDocs]
GO
/****** Object:  StoredProcedure [dbo].[Insupddelfaqs]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[Insupddelfaqs]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelpanswer1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelpanswer1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelParticipant]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelParticipant]
GO
/****** Object:  StoredProcedure [dbo].[InsUpddelpreview1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpddelpreview1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelquestion]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelquestion]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelquestion1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelquestion1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelimage1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelimage1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelanswer1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelanswer1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpddelchildimage1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpddelchildimage1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDellocation]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDellocation]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelroles1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDelroles1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDeltypegroup1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDeltypegroup1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDeltype1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDeltype1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDeluserroles1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDeluserroles1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDeluser1]    Script Date: 06/24/2017 12:56:18 ******/
DROP PROCEDURE [dbo].[InsUpdDeluser1]
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDeluser1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsUpdDeluser1]
@flag varchar,@id int=-1,@eid int,@firstname varchar(50),@middlename varchar(50),@lastname varchar(50),@mobileno varchar(50),@emailid varchar(150),@address varchar(250)
as
begin
if @flag='I'
begin
insert into [random].[dbo].[users]
([eid],
[firstname],
[middlename],
[lastname], 
[mobileno] 
,[emailid],[address])
values
(@eid,@firstname,@middlename,@lastname,@mobileno,@emailid,@address)
end
if @flag='U'
begin
update [random].[dbo].[users]
set [eid]=@eid, 
[firstname]=@firstname,
[middlename]=@middlename,
[lastname]=@lastname,
[mobileno]=@mobileno,
[emailid]=@emailid,
[address]=@address
where id=@id
end
if @flag='D'
begin
delete from [random].[dbo].[users]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDeluserroles1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDeluserroles1]
@flag varchar,@id int=-1,@userid int,@roleid int
as
begin
if @flag='I'
begin
insert into [random].[dbo].[userroles]
([userid]
,[roleid])
values
(@userid
,@roleid)
end
if @flag='U'
begin
update [random].[dbo].[userroles]
set [userid]=@userid,
[roleid]=@roleid
where id=@id
end
if @flag='D'
begin
delete from [random].[dbo].[userroles]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDeltype1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDeltype1]
@flag varchar,@id int=-1,@name varchar(50),@description varchar(50),@active int,@typegroupid int,@listkey varchar(50),@listvalue varchar(50)
as
begin
if @flag='I'
begin
insert into [random].[dbo].[types]
([name]
,[description]
,[active]
,[typegroupid]
,[listkey]
,[listvalue])
values
(@name
,@description,@active,@typegroupid,@listkey,@listvalue)
end
if @flag='U'
begin
update [random].[dbo].[types]
set [name]=@name,
[description]=@description,
[active]=@active,
[typegroupid]=@typegroupid,
[listkey]=@listkey,
[listvalue]=@listvalue
where id=@id
end
if @flag='D'
begin
delete from [random].[dbo].[types]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDeltypegroup1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDeltypegroup1]
@flag varchar,@id int=-1,@Name varchar(50),@Description varchar(50),@Active int
as
begin
if @flag='I'
begin
insert into [random].[dbo].[typegroups]
([Name],[Description],[Active])
values
(@Name,@Description,@Active)
end
if @flag='U'
begin
update [random].[dbo].[typegroups]
set [Name]=@Name,
[Description]=@Description,
[Active]=@Active
where id=@id
end

if @flag='D'
begin
delete from [random].[dbo].[typegroups]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelroles1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDelroles1]
@flag varchar,@id int=-1,@name varchar(50),@description varchar(50)
as
begin
if @flag='I'
begin
insert into [random].[dbo].[roles]
([name]
,[description])
values
(@name
,@description)
end
if @flag='U'
begin
update [random].[dbo].[roles]
set [name]=@name,
[description]=@description
where id=@id
end
if @flag='D'
begin
delete from [random].[dbo].[roles]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDellocation]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsUpdDellocation]
@flag varchar,@id int=-1,@locationname varchar(50),@description varchar(150)
as
begin
if @flag='I'
begin
insert into[dbo].[locations]
([locationname]
,[description])
values
(@locationname
,@description)
end
if @flag='U'
begin
update [dbo].[locations]
set [locationname]=@locationname,
[description]=@description
where id=@id
end
if @flag='D'
begin
delete from [dbo].[locations]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpddelchildimage1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpddelchildimage1]
@flag varchar,@id int=-1,@imgid int,@imgname varchar(max),@description varchar(250)
as
begin
if @flag ='I'
begin
insert into [random].[dbo].[childimages]
([imgid],[imgname],[description])
values
(@imgid,@imgname,@description)
end
if @flag='U'
begin
update [random].[dbo].[childimages]
set [imgid]=@imgid,
[imgname]=@imgname,
[description]=@description
where id=@id
end
if @flag='D'
begin
delete from[random].[dbo].[childimages]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelanswer1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDelanswer1]
@flag varchar,@id int,@qid int,@answer varchar(50)
as
begin
if @flag='I'
begin
insert into [random].[dbo].[answer]
([qid],[answer])
values
(@qid,@answer)
end
if @flag='U'
begin
update [random].[dbo].[answer]
set [qid]=@qid,
[answer]=@answer
where id=@id
end
if @flag='D'
begin
delete from [random].[dbo].[answer]
where id=@id
end


end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelimage1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsUpdDelimage1]
@flag varchar
,@id int=-1
,@image varchar(max)=null
,@imagename varchar(50) =null
,@createdon varchar(50) =null
,@date varchar(50) =null
,@locationid int =null
,@description varchar(50) =null
,@FileName varchar(100) =null
,@DocTypeId Int =null
,@FileContent varchar(max) =null
,@ExipryDate date =null
,@EffectiveDate date  =null
as
begin
if @flag='I'
begin
insert into [dbo].[images]
([image],[imagename],[createdon],[date],[locationid],[description],[FileName],[DocTypeId],[FileContent],[ExipryDate],[EffectiveDate])
values
(@image,@imagename,@createdon,@date,@locationid,@description,@imagename,@DocTypeId,@FileContent,@ExipryDate,@EffectiveDate)
end
if @flag='U'
begin
update [dbo].[images]
set [image]=@image,
[imagename]=@imagename,
[createdon]=@createdon,
[date]=@date,
[locationid]=@locationid,
[description]=@description,
[FileName]=@FileName,
[DocTypeId]=@DocTypeId,
[FileContent]=@FileContent,
[ExipryDate]=@ExipryDate,
[EffectiveDate]=@EffectiveDate
where id=@id
end
if @flag='D'
begin
delete from [dbo].[images]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelquestion1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsUpdDelquestion1]
@flag varchar,@id int=-1,@question varchar(max),@option1 varchar(50),@option2 varchar(50),@option3 varchar(50),@option4 varchar(50)
as
begin
if @flag='I'
begin
insert into [random].[dbo].[questions]
([question],[option1],[option2],[option3],[option4])
values
(@question,
@option1,
@option2,
@option3,
@option4)
end
if @flag='U'
begin
update [random].[dbo].[questions]
set [question]=@question,
[option1]=@option1,
[option2]=@option2,
[option3]=@option3,
[option4]=@option4
where id=@id
end
if @flag='D'
begin
delete from [random].[dbo].[questions]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelquestion]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsUpdDelquestion]
@flag varchar,@id int=-1,@question varchar(500),@option1 varchar(50),@option2 varchar(50),@option3 varchar(50),@option4 varchar(50),@locationId int,@contestId int,@answer varchar(50),@FromDate date, @ToDate date 
as
begin
if @flag='I'
begin
insert into[dbo].[questions]
([question],[option1],[option2],[option3],[option4],[locationId],[contestId],[answer],[FromDate],[ToDate])
values
(@question,
@option1,
@option2,
@option3,
@option4,
@locationId,
@contestId,
@answer,
@FromDate,
@ToDate)
end
if @flag='U'
begin
update [dbo].[questions]
set [question]=@question,
[option1]=@option1,
[option2]=@option2,
[option3]=@option3,
[option4]=@option4,
[locationId]=@locationId,
[contestId]=@contestId,
[answer]=@answer,
[FromDate]=@FromDate,
[ToDate]=@ToDate

where id=@id
end
if @flag='D'
begin
delete from [dbo].[questions]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpddelpreview1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsUpddelpreview1]
@flag varchar,@id int=-1,@imageId Int=null,@x1 varchar(50),@x2 varchar(50),@y1 varchar(50),@y2 varchar(50),@width varchar(50),@height varchar(50)
as
begin
if @flag ='I'
begin
insert into [dbo].[preview]
(imageId,x1,x2,y1,y2,width,height)
values
(@imageId,@x1,@x2,@y1,@y2,@width,@height)
end
if @flag='U'
begin
update [dbo].[preview]
set 
[imageId]=@imageId,
[x1]=@x1,
[x2]=@x2,
[y1]=@y1,
[y2]=@y2,
[width]=@width,
[height]=@height
where id=@id
end
if @flag='D'
begin
delete from[dbo].[preview]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelParticipant]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsUpdDelParticipant]
@flag varchar,@id int=-1,@UserName varchar(50),@PhoneNo varchar(12),@emailid varchar(50),@locationId int,@question varchar(500),@answer varchar(50)
as
begin
if @flag='I'
begin
insert into [dbo].[participant]
([UserName],[PhoneNo],[emailid],[locationId],[question],[answer])
values
(@UserName,@PhoneNo,@emailid,@locationId,@question,@answer)
end
if @flag='U'
begin
update [dbo].[participant]
set [UserName]=@UserName,
[PhoneNo]=@PhoneNo,
[emailid]=@emailid,
[locationId]=@locationId,
[question]=@question,
[answer]=@answer

where id=@id
end
if @flag='D'
begin
delete from [dbo].[participant]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelpanswer1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsUpdDelpanswer1]
@flag varchar,@id int=-1,@pid int,@qid int,@answer varchar(50)
as
begin
if @flag='I'
begin
insert into [dbo].[panswer]
([pid],[qid],[answer])
values
(@pid,@qid,@answer)
end
if @flag='U'
begin
update [dbo].[panswer]
set [pid]=@pid,
[qid]=@qid,
[answer]=@answer
where id=@id
end
if @flag='D'
begin
delete from [dbo].[panswer]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[Insupddelfaqs]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Insupddelfaqs]
@flag varchar,@id int=-1,@question varchar(250),@answer varchar(1000),@createdon varchar(50),@createdby varchar(50),@updatedon datetime,@updatedby varchar(50),@active int,@category int
  as
begin
if @flag='I'
begin
insert into POSDashboard.dbo.faqs
([question],[answer],[createdon],[createdby],[updatedon],[updatedby],[active],[category])
values
(@question,@answer,@createdon,@createdby,@updatedon,@updatedby,@active,@category)
end
if @flag='U'
begin
update POSDashboard.dbo.faqs
set[question]=@question ,
   [answer]=@answer ,
   [createdon]= @createdon,
   [createdby]=@createdby,
   [updatedon]=@updatedon,
   [updatedby]=@updatedby,
   [active]=@active,
   [category]=@category
   where id=@id
   end
   if @flag='D'
   begin
   delete from faqs
   where id=@id
   end
   
   end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelDocs]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDelDocs](
           @FileName varchar(100)
           ,@DocTypeId int
           ,@FileContent varchar(max) = null
           ,@createdDT date = null
           ,@UpdatedDT date = null
           ,@createdby int = null
           ,@updatedby int = null
           ,@LocationId int = null
           ,@ExipryDate date = null
           ,@EffectiveDate date = null
           ,@Description varchar(500) = null
           ,@flag char
           ,@ID int= -1)
as
begin
declare @cnt int=0 , @dt date
select @dt = GETDATE()

		 if upper(@flag) = 'I'
		 begin
 
			select @cnt = COUNT(*)  from Docs where UPPER(fileName) = upper(@FileName) and DocTypeId = @DocTypeId
			
			if @cnt > 0
			begin
				RAISERROR ('Duplcate Docs with same name and file type can not be created',16,1);
			end
			else
			begin
			
			INSERT INTO [dbo].[Docs]
           ([FileName],[DocTypeId],[FileContent],[createdDT],[UpdatedDT],[createdby],[updatedby],[LocationId]
           ,[ExipryDate],[EffectiveDate],[Description])
           VALUES(@FileName,@DocTypeId,@FileContent,@dt,@dt,@createdby,@updatedby
           ,@LocationId,@ExipryDate,@EffectiveDate,@Description
           )
           
          end
        end
		else
		if upper(@flag) ='U'
		begin
			select @cnt = COUNT(*) from Docs where Id = @ID
  
			if @cnt = 0
				raiserror('No such Document exists',16,1)
			else
			begin
				select @cnt = COUNT(*) from Docs where upper(fileName)=upper(@fileName) and DocTypeId = @DocTypeId and Id <> @ID
				if @cnt > 0
				begin
					raiserror('Duplicate Documents are not allowed',16,1);
				end
				else
				begin
				 UPDATE [dbo].[Docs]
				   SET [FileName] = @FileName
					  ,[DocTypeId] = @DocTypeId
					  --,[FileContent] = @FileContent
					 -- ,[createdDT] = @createdDT
					  ,[UpdatedDT] = @dt
					  ,[createdby] = @createdby
					  ,[updatedby] = @updatedby
					  ,[LocationId] = @LocationId
					  ,[ExipryDate] = @ExipryDate
					  ,[EffectiveDate] = @EffectiveDate
					  ,[Description] = @Description
				  where id = @ID;				
			   end
			end
		end
		else
		if upper(@flag) ='D'
		begin
			delete from Docs where id=@Id
			if @@ROWCOUNT=0
				raiserror('No such document exists to delete',16,1);
		end
end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelcontest1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsUpdDelcontest1]
@flag varchar,@id int=-1,@qid int,@locationid int,@week varchar(50),@fromdate varchar(50),
@todate varchar(50),@month varchar(50)
as
begin
if @flag='I'
begin
insert into [dbo].[contestq]
([qid],[locationid],[week],[fromdate],[todate],[month])
values
(@qid,@locationid,@week,@fromdate,@todate,@month)
end
if @flag='U'
begin
update [dbo].[contestq]
set [qid]=@qid,
[locationid]=@locationid,
[week]=@week,
[fromdate]=@fromdate,
[todate]=@todate,
[month]=@month
where id=@id
end
if @flag='D'
begin
delete from [dbo].[contestq]
where id=@id
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelChildImages]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDelChildImages]
@flag varchar,@Id int =-1,@ParentImgId int,@imageContent varchar(MAX),@description varchar(250),@imageName varchar(50)
           
as
begin
declare @cnt int=0 , @dt date
select @dt = GETDATE()

		 if upper(@flag) = 'I'
		 begin
 
			select @cnt = COUNT(*)  from Docs where UPPER(fileName) = upper(@ParentImgId) 
			
			if @cnt > 0
			begin
				RAISERROR ('Duplcate Docs with same name and file type can not be created',16,1);
			end
			else
			begin
			
			INSERT INTO [dbo].[childimages] 
           ([ParentImgId] ,[imageContent] ,[description] ,[imageName] )
           VALUES(@ParentImgId,@imageContent,@description,@imageName
           )
           
          end
        end
		else
		if upper(@flag) ='U'
		begin
			select @cnt = COUNT(*) from Docs where Id = @ID
  
			if @cnt = 0
				raiserror('No such Document exists',16,1)
			else
			begin
				select @cnt = COUNT(*) from Docs where upper(fileName)=upper(@ParentImgId) and Id <> @ID
				if @cnt > 0
				begin
					raiserror('Duplicate Documents are not allowed',16,1);
				end
				else
				begin
				 UPDATE [dbo].[childimages]
				   SET [ParentImgId]=@ParentImgId
				    ,[imageContent]=@imageContent
				     ,[description] =@description
				     ,[imageName]=@imageName
				   
				    
				  where id = @ID;				
			   end
			end
		end
		else
		if upper(@flag) ='D'
		begin
			delete from [dbo].[childimages] where id=@Id
			if @@ROWCOUNT=0
				raiserror('No such document exists to delete',16,1);
		end
end
GO
/****** Object:  StoredProcedure [dbo].[InsEditHistoryDetails]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[InsEditHistoryDetails]
(@EditHistoryId  int
         ,@FromValue varchar(50) = null
           ,@ToValue varchar(50)= null
           ,@ChangeType varchar(50)
           ,@Field1 varchar(50) = null
           ,@Field2 varchar(50) = null)
AS
BEGIN
	INSERT INTO [dbo].[EditHistoryDetails]
           ([EditHistoryId]
           ,[FromValue]
           ,[ToValue]
           ,[ChangeType]
           ,[Field1]
           ,[Field2])
     VALUES
           (@EditHistoryId
           ,@FromValue
           ,@ToValue
           ,@ChangeType
           ,@Field1
           ,@Field2)

END
GO
/****** Object:  StoredProcedure [dbo].[InsEditHistory]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsEditHistory]
(@Task varchar(50) =null,@Field varchar(50) =null
           ,@SubItem varchar(50) =null
           ,@Comment varchar(50) =null
           ,@Date datetime
           ,@ChangedBy varchar(50) =null
           ,@ChangedType varchar(50) =null           
           ,@edithistoryid int = -1 OUTPUT)
as
begin


INSERT INTO [dbo].[EditHistory]
           ([Field]
           ,[SubItem]
           ,[Comment]
           ,[Date]
           ,[ChangedBy]
           ,[ChangedType]
           ,[Task])
     VALUES
           (@Field
           ,@SubItem
           ,@Comment
           ,@Date
           ,@ChangedBy
           ,@ChangedType
           ,@Task)

 select @edithistoryid = SCOPE_IDENTITY()

end
GO
/****** Object:  StoredProcedure [dbo].[Getwinners]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Getwinners]
(@locationid int = null)
as
begin
select * from winners
inner  join Location l on l.ID = winners.locationid
  where (@locationid is null or @locationid = winners.LocationId)
  order by cid
end
GO
/****** Object:  StoredProcedure [dbo].[getvendors]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getvendors]
as
begin
select * from [vendors]
end
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetUsers]
(@cmpId int = -1)
AS
BEGIN

SELECT U.[Id]
      ,U.UserName as Name
      ,U.[FirstName]
      ,U.[LastName]      
      ,U.[EmpNo]
      ,U.[EmailId]
      ,U.[Address]
      ,U.[ContactNo1]    
      ,U.[Active]
      ,U.[MiddleName]
      ,mgr.Firstname + ' ' +mgr.LastName as mgrName
      ,mgr.Id as ManagerId
      ,ul.logininfo as DUserName
      ,ul.passkey as [DPassword]            
      ,c.name as [Company]
      ,U.[RoleId]
      ,U.[CompanyId]      
      ,U.[GenderId]     
      ,U.[CountryId]
      ,U.[StateId]
      ,U.[ZipCode]      
      ,U.[ContactNo2]      
      ,U.[AltAddress]
      ,U.[photo]
      ,R.Name RoleName
  FROM [dbo].[Users] U
  inner join company c on (U.companyid = c.id)
  left outer join Users mgr on mgr.id = U.managerid
  left outer join dbo.userlogins ul on ul.userid = U.id  
  left outer join Roles r on r.Id = U.RoleId     
  where (c.id = @cmpId or   @cmpId = -1)
  order by upper(u.username)
end
GO
/****** Object:  StoredProcedure [dbo].[getuserroles1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getuserroles1]
as
begin
select * from [userroles]
end
GO
/****** Object:  StoredProcedure [dbo].[GetUserRoles]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetUserRoles] 
(@locationId int = -1, @usersWithOutRoles int = 0,@userid int = -1)
AS
BEGIN
 
 if @usersWithOutRoles = 0
 begin
 
SELECT  ur.[Id] 
      ,users.[Id] UserId
      ,username
      ,ur.[RoleId]
      ,r.Name as rolename
      ,l.name as [location]
     ,l.id as locationId
  FROM [dbo].[Users]  
  inner join userroles ur on ur.userid = users.id 
  inner join Roles r on r.Id = Ur.RoleId  
  left outer join Location l on l.id = ur.LocationId   
  where ((ur.LocationId = @locationId or   @locationId = -1)    
  and (Users.Id = @userid or @userid = -1)
  )
  order by UPPER(UserName)
end
else
begin
 select  users.[Id]
      , username
      FROM [dbo].[Users]
      where Users.Id not in (select userid from UserRoles)
      order by UPPER(UserName)
end
END
/****** Object:  StoredProcedure [dbo].[GetTypesByGroupId]    Script Date: 02/22/2017 10:28:44 ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[getuser1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getuser1]
as
begin
select * from [users]
end
GO
/****** Object:  StoredProcedure [dbo].[GetTypesByGroupId]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetTypesByGroupId]
@typegrpid int = -1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT t.Id, t.Name, t.[Description],t.Active, tg.name as TypeGroup, TypeGroupId
	 from [Types] t
	 inner join TypeGroups tg on tg.Id = t.TypeGroupId	 
	  where (TypeGroupId = @typegrpid or @typegrpid = -1)
	  order by TypeGroupId,UPPER(t.name)
END
GO
/****** Object:  StoredProcedure [dbo].[GetTypeGroups]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetTypeGroups]
(
@active int =-1
)
AS
BEGIN
	If (@active=1)
	BEGIN
		  select Id,Name,Description, Active from TypeGroups where active=1;
	end
	else
	If (@active=-1)
	BEGIN
		  select Id,Name,Description,Active from TypeGroups
	end

END
GO
/****** Object:  StoredProcedure [dbo].[gettypegroup1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[gettypegroup1]
as
begin
select * from [typegroups]
end
GO
/****** Object:  StoredProcedure [dbo].[gettype1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[gettype1]
as
begin
select * from [types]
end
GO
/****** Object:  StoredProcedure [dbo].[getroles1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getroles1]
as
begin
select * from [roles]
end
GO
/****** Object:  StoredProcedure [dbo].[GetRoles]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetRoles]
(@allroles int = -1)
as
begin

if @allroles = -1

select distinct Roles.Id, Roles.Name, Description, Roles.Active,[IsGlobal]
from Roles

else

if @allroles = 0

select distinct Roles.Id, Roles.Name, Description, Roles.Active,[IsGlobal]
from Roles 
where [IsGlobal] = 0

else
 
select distinct Roles.Id, Roles.Name, Description, Roles.Active,[IsGlobal]
from Roles 
where [IsGlobal] = 1

end
GO
/****** Object:  StoredProcedure [dbo].[getquestion]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getquestion]
(@locationid int = null)
as
begin
--select * from questions 
 select * 
,case when  GETDATE() > ExipryDate   then 1 
      when  DATEDIFF(DAY, GETDATE(),ExipryDate)  < 90 then 2
       else 0 end as IsExpired from questions

 inner  join Location l on l.ID = questions.locationid
  where (@locationid is null or @locationid = questions.LocationId)
  order by question
end
GO
/****** Object:  StoredProcedure [dbo].[getpreview1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getpreview1]
@ChildImgId int
as
begin
select * from [preview] where ChildImgId=@ChildImgId
end
GO
/****** Object:  StoredProcedure [dbo].[GetPPFileContent]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetPPFileContent](@fileID int)
as
begin
	
SELECT [Id]
      ,[FileName]
      ,[DocTypeId]
      ,[FileContent]
      ,[createdDT]
      ,[UpdatedDT]
      ,[createdby]
      ,[updatedby]
      ,[LocationId]
      ,[ExipryDate]
      ,[EffectiveDate]
      ,[Description]
  FROM [dbo].[Docs]
where Id = @fileID

	if @@ROWCOUNT=0
		RAISERROR('Invalid  Document ID, no document exists',16,1);
end
GO
/****** Object:  StoredProcedure [dbo].[GetParticipant]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetParticipant]
(@locationid int = null)
as
begin
select * from participant
inner  join Location l on l.ID = participant.locationid
  where (@locationid is null or @locationid = participant.LocationId)
  order by UserName


end
GO
/****** Object:  StoredProcedure [dbo].[getpanswer1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getpanswer1]
as
begin
select * from [panswer] a
inner join participant p on a.pid = p.id


end
GO
/****** Object:  StoredProcedure [dbo].[getlogin1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getlogin1]
as
begin
select * from login
end
GO
/****** Object:  StoredProcedure [dbo].[getLocations]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[getLocations]
(
@active int =-1
)
AS
BEGIN
	If (@active=1)
	BEGIN
		  select id,name,description,active from Location where active=1;
	end
	else if(@active=-1)
	begin
		  select id,name,description,active from Location;
	end
END
GO
/****** Object:  StoredProcedure [dbo].[GetLocationquestion]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLocationquestion] 
	@locationId int
AS
BEGIN
	select * from questions where locationid = @locationId
END
GO
/****** Object:  StoredProcedure [dbo].[GetLocationImages]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetLocationImages] 
	@locid int
AS
BEGIN
	select * from docs where locationid = @locid 
END
GO
/****** Object:  StoredProcedure [dbo].[GetLicenseTypes]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetLicenseTypes]
(@licenseCategoryId int =-1)
AS
BEGIN
	SELECT lt.[Id]
      ,[LicenseCatId]
      ,[LicenseType]
      ,lt.[Description]
      ,t.Name as licenseCategory
	  ,lt.[Active]
  FROM [dbo].[LicenseTypes] lt
inner join Types t on t.Id = licensecatid
  where ([LicenseCatId] = @licenseCategoryId or @licenseCategoryId = -1)
END
GO
/****** Object:  StoredProcedure [dbo].[GetLicensePricing]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetLicensePricing]
(@categoryid int = -1)
as 
begin 

SELECT lp.[Id]
      ,[LicenseId]
	  ,LicenseType
      ,[RenewalFreqTypeId]
      ,[RenewalFreq]
      ,[UnitPrice]
      ,[fromdate]
      ,[todate]
      ,t.Name as licensefreq
      , case when t.id = 15 then 'Every' +str(lp.renewalfreq)+ ' Week(s)'
		 when t.id = 16 then 'Every' +str(lp.renewalfreq)+ ' Month(s)'
		 when t.id = 17 then 'Every' +str(lp.renewalfreq)+ ' Quarter(s)'
		 when t.id = 18 then 'Every' +str(lp.renewalfreq)+ ' Half Year(s)'
        else 'Every'+str(lp.renewalfreq)+' year(s)'
       end as freq
  FROM [dbo].[LicensePricing] lp
inner join types t on t.id = lp.renewalfreqtypeid
 inner join licensetypes lt on lt.id = lp.licenseid
 where (lt.LicenseCatId = @categoryid or @categoryid = -1)


end


/****** Object:  StoredProcedure [dbo].[InsUpdDelLicensePricing]    Script Date: 07/18/2016 16:48:16 ******/
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[GetLicenseDetails]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetLicenseDetails]
@ltypeId int = -1
as begin 
SELECT ld.[Id]
      ,[LicenseTypeId]
      ,t.name [FeatureName]
      ,t.id FeatureTypeId
      ,[FeatureLabel]
      ,[FeatureValue]
      ,[LabelClass]
      ,ld.[Active]
      ,[fromDate]
      ,[toDate]
  FROM [LicenseDetails] ld
  inner join Types t on t.id = ld.featuretypeid
  where ([LicenseTypeId] = @ltypeId or @ltypeId = -1)
end
GO
/****** Object:  StoredProcedure [dbo].[GetLicenseConfigDetails]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetLicenseConfigDetails]
@ltypeId int = -1
as 
begin 

SELECT [Id]
      ,[LicenseType]
      ,[LicenseCode]
      ,[LicenseCatId]
      ,[Description]
      ,[Active]
      ,[EffectiveFrom]
      ,[EffectiveTill]
  FROM [dbo].[LicenseTypes]
  where Id = @ltypeId

 

SELECT ld.[Id]
      ,[LicenseTypeId]
      ,t.name [FeatureName]
      ,t.id FeatureTypeId
      ,t.TypeGroupId
      ,[FeatureLabel]
      ,[FeatureValue]
      ,[LabelClass]
      ,ld.[Active]
      ,[fromDate]
      ,[toDate]
      --,[LicenseTypeGroupId]
      ,case when ld.id IS null then 0 else 1 end assigned
  FROM Types t
  left outer join .[dbo].[LicenseDetails] ld on t.id = ld.featuretypeid
  and ([LicenseTypeId] = @ltypeId)
  where t.typegroupId = 9 
   
  SELECT [Id]
      ,[LicenseId]
      ,[RenewalFreqTypeId]
      ,[RenewalFreq]
      ,[UnitPrice]
      ,[fromdate]
      ,[todate]
      ,[Active]
  FROM .[dbo].[LicensePricing]
  where LicenseId = @ltypeId

 
  SELECT I.[Id]
  ,[ItemName]
  ,[Code]
      ,[LicenseTypeId]
      ,[BTPOSTypeId]
      ,[NoOfUnits]
      ,[Label]
      ,[LableClass]
      ,[fromdate]
      ,[todate]
      ,[Active]
       ,case when b.id IS null then 0 else 1 end assigned
  FROM .[dbo].[InventoryItem] I
  left outer join .[dbo].[LicenseBTPOS] b on b.btpostypeid = I.Id
  and licensetypeid = @ltypeId
  where I.SubCategoryId = 1
  
  
end
GO
/****** Object:  StoredProcedure [dbo].[GetLicenceCatergories]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetLicenceCatergories]
AS
BEGIN
	
SELECT t.Id, t.Name, t.[Description],t.Active, tg.name as TypeGroup, TypeGroupId, listkey, listvalue
	 from [Types] t
	 inner join TypeGroups tg on tg.Id = t.TypeGroupId	 
	  where (TypeGroupId = 3)


SELECT t.Id, t.Name, t.[Description],t.Active, tg.name as TypeGroup, TypeGroupId, listkey, listvalue
	 from [Types] t
	 inner join TypeGroups tg on tg.Id = t.TypeGroupId	 
	  where (TypeGroupId = 7)
  
  
SELECT t.Id, t.Name, t.[Description],t.Active, tg.name as TypeGroup, TypeGroupId, listkey, listvalue
	 from [Types] t
	 inner join TypeGroups tg on tg.Id = t.TypeGroupId	 
	  where (TypeGroupId = 9)
  
  
  SELECT [Id]
      ,[ItemName]
      ,[Code]
      ,[Description]
      ,[CategoryId]
      ,[SubCategoryId]      
      ,[ItemImage]
  FROM [POSDashboard].[dbo].[InventoryItem] I
  where I.SubCategoryId = 1
  
  
end
GO
/****** Object:  StoredProcedure [dbo].[getimage1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getimage1]
(@imgid int=null)
as
begin
select * 
,case when  GETDATE() > ExipryDate   then 1 
      when  DATEDIFF(DAY, GETDATE(),ExipryDate)  < 90 then 2
       else 0 end as IsExpired from Docs
left outer join Types t on t.ID = Docs.DocTypeId
  left outer join Location l on l.ID = Docs.locationid
  where (@imgid is null or @imgid = Docs.LocationId)
  order by FileName

end
GO
/****** Object:  StoredProcedure [dbo].[getfaqs]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getfaqs]
as
begin
select * from faqs
end
GO
/****** Object:  StoredProcedure [dbo].[getEditHistoryDetails]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getEditHistoryDetails]
(@edithistoryid int =-1)
as
begin
SELECT [EditHistoryId]
      ,[FromValue]
      ,[ToValue]
      ,[ChangeType]
      ,[Field1]
      ,[Field2]
      ,e.Task
      ,e.SubItem
  FROM [POSDashboard].[dbo].[EditHistoryDetails] ed
  inner join EditHistory e on e.Id = ed.EditHistoryId
  WHERE EditHistoryId = @edithistoryid
  
end
GO
/****** Object:  StoredProcedure [dbo].[getEditHistory]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getEditHistory]
as
begin
SELECT [Field]
      ,[SubItem]
      ,[Comment]
      ,[Date]
      ,[ChangedBy]
      ,[ChangedType]
      ,[Task]
      ,[Id]
  from [EditHistory]
end
GO
/****** Object:  StoredProcedure [dbo].[GetDocsList]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetDocsList]	
(@locationid int = null)
AS
BEGIN
	SELECT Docs.[Id]
      ,[FileName]
      ,[DocTypeId]
      ,t.Name as DocType     
      ,[createdDT]
      ,[UpdatedDT]
      ,[createdby] createdbyId
      ,[Updatedby] UpdatedbyId
      ,[LocationId]
      ,[ExipryDate]
      ,[EffectiveDate]
      ,l.Name Location
      ,Docs.[Description]
       ,case when  GETDATE() > ExipryDate   then 1 
      when  DATEDIFF(DAY, GETDATE(),ExipryDate)  < 90 then 2
       else 0 end as IsExpired
  FROM [dbo].[Docs]
  left outer join Types t on t.ID = Docs.DocTypeId
  left outer join Location l on l.ID = Docs.LocationId
  where (@locationid is null or @locationid = Docs.LocationId)-- and @imgid is null or @imgid = Docs.FileName)
  order by FileName

END
GO
/****** Object:  StoredProcedure [dbo].[getcontest1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getcontest1]	
as
begin
select * from [contestq] 
end
GO
/****** Object:  StoredProcedure [dbo].[GetCompanyRoles]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCompanyRoles]
(@cmpId int)
as
begin

if @cmpId = 1

select 
r.id
,cr.[Id] cId
,cr.[CompanyId] 
,r.name as rolename
,r.description
,case when c.Id IS null then 0 else 1 end assigned
from Roles R
left outer join [CompanyRoles] cr on R.Id=cr.RoleId and cr.CompanyId = @cmpId 
left outer join Company c on c.Id=cr.CompanyId and c.Id = @cmpId 
where r.IsGlobal = 0

else
select 
r.id
,cr.[Id] cId
,cr.[CompanyId] 
,r.name as rolename
,r.description
,case when c.Id IS null then 0 else 1 end assigned
from Roles R
left outer join [CompanyRoles] cr on R.Id=cr.RoleId and cr.CompanyId = @cmpId 
left outer join Company c on c.Id=cr.CompanyId and c.Id = @cmpId 
where r.IsGlobal = 1


end
GO
/****** Object:  StoredProcedure [dbo].[GetChildImages]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetChildImages]

as
begin
select * from [childimages] 
inner  join docs on docs.id = childimages.ParentImgId
end
GO
/****** Object:  StoredProcedure [dbo].[GetChildImagePreview]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetChildImagePreview]
	@x int, @y int
AS
BEGIN

SELECT *
  FROM [dbo].preview
  inner join docs on docs.id = preview.imageid
  where @x >= x1  and @x <= x2
  and @y >= y1 and @y <= y2 
  
END
GO
/****** Object:  StoredProcedure [dbo].[getchildimage1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getchildimage1]
(@parentimgid int = null)
as
begin
select * from [childimages] where ParentImgId = @parentimgid or @parentimgid is null
end
GO
/****** Object:  StoredProcedure [dbo].[getanswer1]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getanswer1]
as
begin
select * from [answer]
end
GO
/****** Object:  StoredProcedure [dbo].[ValidateCredentials]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ValidateCredentials](@logininfo varchar(50) = null, @passkey varchar(50) = null)
as
begin
declare @uid int

select @uid = userid from UserLogins where LoginInfo=@logininfo and [PassKey]=@passkey

if @uid is not null 
begin
select logininfo,firstname, lastname, u.Id,firstname+' '+lastname as uname --,r.Name as RoleName,ur.roleid,u.CompanyId
from userlogins ul 
inner join users u on 
u.id = ul.userid
--left outer join UserRoles ur on ur.UserId=u.Id
--left outer join roles r on r.id = ur.roleid
where LoginInfo=@logininfo and [PassKey]=@passkey

select r.Name as RoleName, r.id as roleid,l.Name,UserId,LocationId
from UserRoles ur
inner join Roles r on r.Id = ur.RoleId
left outer join Location l on l.ID = ur.LocationId
where ur.UserId = @uid

end
end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelwinner]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDelwinner]
@flag varchar,@id int,@pid int,@cid int,@locationId int
as
begin
if @flag='I'
begin
insert into [dbo].[winners]
([pid],[cid],[locationId])
values
(@pid,@cid,@locationId)
end
if @flag='U'
begin
update [dbo].[winners]
set [pid]=@pid,
[cid]=@cid,
[locationId]=@locationId
where id=@id
end
if @flag='D'
begin
delete from [dbo].[winners]
where id=@id
end


end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelLicensePricing]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDelLicensePricing](
@Id int = -1,
@LicenseId int,
@RenewalFreqTypeId int,
@RenewalFreq int,
@UnitPrice decimal(18,0),
@fromdate datetime = null,
@todate datetime = null,
@insupddelflag char
)
as
begin

if @insupddelflag = 'I'
begin
INSERT INTO [dbo].[LicensePricing]
           ([LicenseId]
           ,[RenewalFreqTypeId]
           ,[RenewalFreq]
           ,[UnitPrice]
           ,[fromdate]
           ,[todate])
     VALUES
           (@LicenseId
           ,@RenewalFreqTypeId
           ,@RenewalFreq
           ,@UnitPrice
           ,@fromdate
           ,@todate
          )
          end
else
if @insupddelflag = 'U'
begin

UPDATE[dbo].[LicensePricing]
   SET [RenewalFreqTypeId] = @RenewalFreqTypeId
      ,[RenewalFreq] = @RenewalFreq
      ,[UnitPrice] = @UnitPrice
      ,[fromdate] = @fromdate
      ,[todate] = @todate
      --,[Active] = @Active
 WHERE licenseId = @LicenseId
end
else
if @insupddelflag = 'D'
begin
DELETE FROM [dbo].[LicensePricing]
      WHERE licenseId = @LicenseId

end
end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelLicenseDetails]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDelLicenseDetails](
@Id int = -1,
@LicenseTypeId int,
@FeatureTypeId int,
@FeatureLabel varchar(30),
@FeatureValue varchar(250),
@LabelClass varchar(50) = null,
@fromdate datetime = null,
@todate datetime = null,
@insupddelflag char
)
as
begin
declare @dt datetime
set @dt = GETDATE()

declare @edithistoryid int
declare @oldFeatureTypeId int
declare @oldFeatureLabel varchar(30)
declare @oldFeatureValue varchar(10)
declare @oldLabelClass varchar(50)
declare @oldfromDate datetime
declare @oldtoDate datetime
if @insupddelflag = 'I'
begin
INSERT INTO [dbo].[LicenseDetails]
           ([LicenseTypeId]
           ,[FeatureTypeId]
           ,[FeatureLabel]
           ,[FeatureValue]
           ,[LabelClass]           
           ,[fromDate]
           ,[toDate])
     VALUES
           (@LicenseTypeId
           ,@FeatureTypeId
           ,@FeatureLabel
           ,@FeatureValue
           ,@LabelClass           
           ,@fromDate
           ,@toDate
          )
           exec InsEditHistory 'LicenseDetails','Name', @LicenseTypeId,'LicenseDetails Creation',@dt,'Admin','Insertion',@edithistoryid = @edithistoryid output
		              
			exec InsEditHistoryDetails @edithistoryid,null,@LicenseTypeId,'Insertion','LicenseTypeId',null			
			exec InsEditHistoryDetails @edithistoryid,null,@FeatureTypeId,'Insertion','FeatureTypeId',null
			
            exec InsEditHistoryDetails @edithistoryid,null,@FeatureLabel,'Insertion','FeatureLabel',null
  
            exec InsEditHistoryDetails @edithistoryid,null,@FeatureValue,'Insertion','FeatureValue',null			
			exec InsEditHistoryDetails @edithistoryid,null,@LabelClass,'Insertion','LabelClass',null
			
            exec InsEditHistoryDetails @edithistoryid,null,@fromDate,'Insertion','fromDate',null
            exec InsEditHistoryDetails @edithistoryid,null,@toDate,'Insertion','toDate',null
          
          
          end
else
if @insupddelflag = 'U'
begin

UPDATE [dbo].[LicenseDetails]
   SET [FeatureLabel] = @FeatureLabel
      ,[FeatureValue] = @FeatureValue
      ,[LabelClass] = @LabelClass
      ,[fromDate] = @fromDate
      ,[toDate] = @toDate
 WHERE [LicenseTypeId] = @LicenseTypeId and [FeatureTypeId] = @FeatureTypeId
 
 
   exec InsEditHistory 'LicenseDetails','Name', @FeatureTypeId,'LicenseDetails updation',@dt,'Admin','Modification',@edithistoryid = @edithistoryid output           

      if @FeatureTypeId <> @FeatureTypeId
    exec InsEditHistoryDetails @edithistoryid,@oldFeatureTypeId,@FeatureTypeId,'Modication','FeatureTypeId',null		

      if @FeatureLabel <> @FeatureLabel
    exec InsEditHistoryDetails @edithistoryid,@oldFeatureLabel,@FeatureLabel,'Modication','@FeatureLabel',null		

      if @FeatureValue <> @FeatureValue
    exec InsEditHistoryDetails @edithistoryid,@oldFeatureValue,@FeatureValue,'Modication','@FeatureValue',null	
 
       if @LabelClass <> @LabelClass
    exec InsEditHistoryDetails @edithistoryid,@oldLabelClass,@LabelClass,'Modication','@LabelClass',null		

      if @fromDate <> @fromDate
    exec InsEditHistoryDetails @edithistoryid,@oldfromDate,@fromDate,'Modication','@fromDate',null		

      if @oldtoDate <> @oldtoDate
    exec InsEditHistoryDetails @edithistoryid,@oldtoDate,@oldtoDate,'Modication','@oldtoDate',null		
 
 
 
 	
end
else
if @insupddelflag = 'D'
begin
DELETE FROM [dbo].[LicenseDetails]
      WHERE [LicenseTypeId] = @LicenseTypeId and [FeatureTypeId] = @FeatureTypeId
end
end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdDelRoles]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdDelRoles](@Id int,@Name varchar(50)
,@Description varchar(50) = null,@Active int = 1
,@IsGlobal int = 0,@Flag char)
as
begin
declare @dt datetime
set @dt = GETDATE()
 
declare @cnt int,@newRoleId int
declare @edithistoryid int
declare @oldname varchar(50)
declare @oldDescription  varchar(250)
declare @oldActive int
declare @oldIsPublic int
declare @AMName varchar(50)

If upper(@Flag) = 'I'
begin
	select @cnt = COUNT(*) from Roles where upper(name) = upper(@Name)
	
	if @cnt = 0
	begin
		insert into Roles (Name,[Description],Active,IsGlobal)
		values(@Name,@Description,@Active,@IsGlobal)
				  
		SELECT @newRoleId = SCOPE_IDENTITY()		
 
		INSERT INTO [dbo].[CompanyRoles]([CompanyId],[RoleId],[Active])VALUES(1,@newRoleId,1)
 
		  exec InsEditHistory 'roles','Name', @Name,'roles Creation',@dt,'Admin','Insertion',@edithistoryid = @edithistoryid output
				exec InsEditHistoryDetails @edithistoryid,null,@Name,'Insertion','Name',null                    
				exec InsEditHistoryDetails @edithistoryid,null,@Description,'Insertion','Description',null
				exec InsEditHistoryDetails @edithistoryid,null,@IsGlobal,'Insertion','IsPublic',null
				exec InsEditHistoryDetails @edithistoryid,null,@Active,'Insertion','Active',null
				
	end
	else
		RAISERROR ('Role with the same name already exists.',16,1);
end
else
If @Flag = 'U'
begin
	select @cnt = COUNT(*) from Roles where upper(name) = upper(@Name) and Id <> @Id
		if @cnt = 0
		begin 
		
		select @oldname = name, @oldDescription = Description, @oldactive = active from Roles where Id = @Id
		
				update roles
				set Name = @name,
				Description = @Description,
				Active = @Active,
				IsGlobal = @IsGlobal
				where id = @Id
				exec InsEditHistory 'roles ','Name', @Name,'roles  updation',@dt,'Admin','Modification',@edithistoryid = @edithistoryid output          
 
				if @oldname <> @Name
				exec InsEditHistoryDetails @edithistoryid,@oldname,@Name,'Modication','Name',null       
 
				if @oldDescription <> @Description
				exec InsEditHistoryDetails @edithistoryid,@oldDescription,@Description,'Modication','Description',null
				if @oldIsPublic <> @IsGlobal
				exec InsEditHistoryDetails @edithistoryid,@oldIsPublic,@IsGlobal,'Modication','IsPublic',null                
 
				if @oldactive <> @Active
				exec InsEditHistoryDetails @edithistoryid,@oldactive,@Active,'Modication','Active',null        
 
		 end
		 else
				RAISERROR ('Duplicate roles are not allowed',16,1);
end
else
if (upper(@Flag) = 'D')
begin
	delete from Roles where id=@Id;
	if @@ROWCOUNT =1
		exec InsEditHistory 'roles ','Name', @Name,'Role  Deletion',@dt,'Admin','Deletion',@edithistoryid = @edithistoryid output
	else
		RAISERROR ('No such Role exists to delete',16,1);
end
end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdUsers]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdUsers](
@FirstName varchar(40)
,@LastName varchar(40)
,@MiddleName varchar(40) = null
,@EmpNo varchar(15) = null
,@Email varchar(40) = null
,@Address varchar(250) = null
,@AltAddress varchar(250) = null
,@ContactNo1 varchar(15) = null
,@ContactNo2 varchar(15) = null
,@RoleId int
,@cmpId int
,@Active int
,@DUserName varchar(30)  = null
,@DPassword varchar(30)  = null
,@insupdflag varchar(10)
,@ManagerId int = null
,@userid int = -1
,@ZipCode varchar(10) = null
,@StateId int = 0
,@CountryId int = 0
,@GenderId int = null
,@RFromDate Datetime = null
,@RToDate Datetime = null
,@photo varchar(max) = null
,@username varchar(250) = null
)
 as begin
 
 declare @currid int, @cnt int, @logincnt int, @ulogincnt int, @edithistoryid int, @dt datetime, @fc varchar(15),@flogincnt int, @UId varchar(10)
	set @dt = GETDATE()
	set @UId = replace(CONVERT(VARCHAR(20), GETDATE(), 114),':','') 
 
 if @insupdflag = 'I'
 begin
 
	 if @EmpNo is null 
	 begin
	 SELECT @EmpNo = 'EMP'+@UId
	 end 
 
	select @cnt = COUNT(*)  from Users where UPPER(EmailId) = UPPER(@Email)
 
	if @cnt > 0
	 begin
		 RAISERROR ('User email address already exists',16,1);
	 return;
	 end
	 
	
  
		 if @cnt = 0 
		 begin
			insert into Users(FirstName,LastName,MiddleName, EmpNo,EmailId,[RoleId],[CompanyId],[Active],[GenderId],[ManagerId],[CountryId]
						,[StateId],[ZipCode],[ContactNo1],[ContactNo2],[Address],[AltAddress],[photo],UserName)
			values(@FirstName,@LastName,@MiddleName, @EmpNo,@Email ,@RoleId,@cmpId,@Active,(case when @GenderId = 0 then null else @GenderId end),@ManagerId,@CountryId
					,@StateId,@ZipCode,@ContactNo1,@ContactNo2,@Address,@AltAddress,@photo,@username) 

		  --insert into edit history
			exec InsEditHistory 'Users', 'Name',@FirstName,'User creation',@dt,'Admin','Insertion',@edithistoryid = @edithistoryid output
		           
			exec InsEditHistoryDetails @edithistoryid,null,@FirstName,'Insertion','First Name',null
			exec InsEditHistoryDetails @edithistoryid,null,@LastName,'Insertion','Last Name',null
			exec InsEditHistoryDetails @edithistoryid,null,@EmpNo,'Insertion','EmpNo',null
			exec InsEditHistoryDetails @edithistoryid,null,@Email,'Insertion','Email',null

		 
		   SELECT @currid = SCOPE_IDENTITY()
  
		  
		-- insert user role		
		--if @RoleId is not null
		--exec InsUpdDelUserRoles -1,@RoleId, @currid, @cmpId,'I'
		end
		
		select @logincnt = COUNT(*) from userlogins where upper(logininfo) = UPPER(@DUserName) 
        		
		   if @logincnt = 0 
		   begin   
						if  @DUserName is not null
						insert into userlogins(logininfo,PassKey,active,userid)values(@DUserName,@DPassword,1,@currid)
					   
		   end
			else
			begin
					RAISERROR ('Already user login exists',16,1);
					return;
			end	


end
 else
 
 begin
 
 SELECT @currid = @userid
 
 UPDATE [dbo].[Users]
   SET [FirstName] = @FirstName
      ,[LastName] = @LastName
      ,[MiddleName] = @MiddleName
      ,[EmpNo] = @EmpNo
      ,[EmailId] = @Email
      ,[RoleId] = @RoleId
      ,[CompanyId] = @cmpId
      ,[Active] = @Active
      ,[GenderId] = (case when @GenderId = 0 then null else @GenderId end)
      ,[ManagerId] = @ManagerId
      ,[CountryId] = @CountryId
      ,[StateId] = @StateId
      ,[ZipCode] = @ZipCode
      ,[ContactNo1] = @ContactNo1
      ,[ContactNo2] = @ContactNo2
      ,[Address] = @Address
      ,[AltAddress] = @AltAddress
      ,[photo] = @photo
      ,UserName = @username
  where id = @userid
 
-- insert user role
  --      if @RoleId is not null
		--exec InsUpdDelUserRoles -1,@RoleId, @currid, @cmpId,'I'
		--else
		--exec InsUpdDelUserRoles -1,@RoleId, @currid, @cmpId,'D'
 
 select @logincnt = COUNT(*) from userlogins where  userid = @userid
 
 
 if @logincnt = 0 
   begin

			   --check if it is normal user or fleet owner. for fleet owner we have different logic
			  
			    if @DUserName is not null
				insert into userlogins(logininfo,PassKey,active,userid)values(@DUserName,@DPassword,1,@currid)
			   
      end
 
 else
 begin
     if @DUserName is not null
		 begin
		 --check if updation causes duplicates
		 select @ulogincnt = COUNT(*) from userlogins where upper(logininfo) = UPPER(@DUserName) and userid <> @userid
		 
		 if @ulogincnt = 0
 			update userlogins
			set logininfo = @DUserName
			,PassKey = @DPassword
			,active = @active
			where userid = @currid
		else
		 RAISERROR ('User login already exists',16,1);
		end
 end

 
 end --end of 'i' check
 
 
 
 end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdLocation]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsUpdLocation]
(@Id int,@Name varchar(50)
,@Description varchar(50) = null,@Active int, @insupdflag varchar(1))
as
begin
declare @dt datetime
set @dt = GETDATE()
declare @cnt int
declare @edithistoryid int
declare @oldname varchar(50)
declare @olddesc varchar(250)
declare @oldactive int

if @insupdflag = 'I'
begin
		select @cnt = COUNT(*) from location where UPPER(name) = UPPER(@Name)

		if @cnt =0
		begin
			INSERT INTO location (name,Description,Active) VALUES (@Name,@Description,@Active)

			exec InsEditHistory 'Location','Name', @Name,'Location Creation',@dt,'Admin','Insertion',@edithistoryid = @edithistoryid output
			exec InsEditHistoryDetails @edithistoryid,null,@Name,'Insertion','Name',null			
			exec InsEditHistoryDetails @edithistoryid,null,@Description,'Insertion','Description',null
			exec InsEditHistoryDetails @edithistoryid,null,@Active,'Insertion','Active',null
		end
		else
		 RAISERROR('Location already exists',16,1);  
end
else
if @insupdflag = 'U'
begin
		select @cnt = COUNT(*) from location where UPPER(name) = UPPER(@Name) and Id <> @Id
              
		if @cnt =0
        begin
		   select @oldname = name, @olddesc = description, @oldactive = active from location where Id = @Id        

			UPDATE location SET Name = @Name,Description = @Description,Active = @Active WHERE Id = @Id
	
			exec InsEditHistory 'Location','Name', @Name,'Location updation',@dt,'Admin','Modification',@edithistoryid = @edithistoryid output           

			if @oldname <> @Name
			exec InsEditHistoryDetails @edithistoryid,@oldname,@Name,'Modication','Name',null		

			if @olddesc <> @Description
			exec InsEditHistoryDetails @edithistoryid,@olddesc,@Description,'Modication','Description',null		

			if @oldactive <> @Active
			exec InsEditHistoryDetails @edithistoryid,@oldactive,@Active,'Modication','Active',null		
		end
		else
		 RAISERROR('Duplicate locations are not allowed',16,1); 
end
if @insupdflag = 'D'
begin
	DELETE FROM location WHERE Id = @Id
	if @@ROWCOUNT=1 
	exec InsEditHistory 'Location','Name', @Name,'Location Deletion',@dt,'Admin','Insertion',@edithistoryid = @edithistoryid output
end
end
GO
/****** Object:  StoredProcedure [dbo].[InsUpdLicenseTypes]    Script Date: 06/24/2017 12:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[InsUpdLicenseTypes] 
(@Id int = -1
,@LicenseCatId int
,@LicenseType varchar(50)
,@Description varchar(500) = null
,@Active int = 1)	
AS
BEGIN
declare @dt datetime
set @dt = GETDATE()


declare @edithistoryid int
declare @oldLicenseType varchar(50)
declare @oldDescription varchar(500)
declare @oldActive int

declare @lcCode varchar(15)
 
set @lcCode = 'LC'+replace(CONVERT(VARCHAR(20), GETDATE(), 108),':','')

select @oldLicenseType = LicenseType, @oldActive = Active, @oldDescription = Description from LicenseTypes where Id = @Id

if @@rowcount = 0
begin
INSERT INTO [dbo].[LicenseTypes]
           ([LicenseCatId]
           ,[LicenseType]
           ,[Description]
           ,[Active]
           ,LicenseCode)
     VALUES
           (@LicenseCatId
           ,@LicenseType
           ,@Description
           ,@Active
           ,@lcCode)
           
           exec InsEditHistory 'LicenseTypes','Name', @LicenseType,'LicenseTypes Creation',@dt,'Admin','Insertion',@edithistoryid = @edithistoryid output
		              
			exec InsEditHistoryDetails @edithistoryid,null,@LicenseType,'Insertion','LicenseType',null			
			exec InsEditHistoryDetails @edithistoryid,null,@Active,'Insertion','Active',null
			exec InsEditHistoryDetails @edithistoryid,null,@Description,'Insertion','Description',null
end
else
begin
	UPDATE [dbo].[LicenseTypes]
   SET [LicenseCatId] = @LicenseCatId
      ,[LicenseType] = @LicenseType
      ,[Description] = @Description
      ,[Active] = @Active
	WHERE Id = @Id
	end
exec InsEditHistory 'LicenseTypes','Name', @LicenseType,'LicenseTypes updation',@dt,'Admin','Modification',@edithistoryid = @edithistoryid output           

if @oldLicenseType <> @LicenseType
exec InsEditHistoryDetails @edithistoryid,@oldLicenseType,@LicenseType,'Modication','LicenseType',null		

if @oldDescription<> @Description
exec InsEditHistoryDetails @edithistoryid,@oldDescription,@Description,'Modication','Description',null		

if @oldActive <> @Active
exec InsEditHistoryDetails @edithistoryid,@oldActive,@Active,'Modication','Active',null			
	




END


/****** Object:  StoredProcedure [dbo].[InsUpdDelFleetRoutes]    Script Date: 07/18/2016 15:58:19 ******/
SET ANSI_NULLS ON
GO
